html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    position: absolute;
    width: calc(1932px / 1.5);
    height: calc(1074px / 1.5);
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer2 {
    z-index: 2;
    opacity: 40%;
    mix-blend-mode: screen; 
    animation-name: light;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pcinput {
    position: absolute;

    left: 392px;
    top: 315px;
    transform: scaleY(1.75) skew(-12deg, 2deg);
    background-color: transparent;

    text-shadow: -1px -1px 2px rgba(127, 255, 0,.2),-1px 1px 2px rgba(127, 255, 0,.2),1px -1px 2px rgba(127, 255, 0,.2),1px 1px 2px rgba(127, 255, 0,.2);

    outline: 2px solid transparent;

    text-transform: uppercase;

    width: 150px;
    height: 44px;
    font-size: 16px;
    color: rgb(127, 255, 0);
    border: none;
    cursor:text;
}
#pcscreen {
    user-select: none;
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: transparent;
    
    position: absolute;

    left: 292px;
    top: 106px;
    width: 270px;
    height: 165px;

    transform: skew(0deg, 5deg);
    
    color: white;

    cursor:cell;

    animation-name: screen;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}
#displayText {
    text-shadow: -1px -1px 2px 
        rgba(255, 255, 255, 0.2),-1px 1px 2px 
        rgba(255, 255, 255, 0.2),1px -1px 2px
        rgba(255, 255, 255, 0.2),1px 1px 2px 
        rgba(255, 255, 255, 0.2);
}
#displayImg {
    max-height: 160px;
}

@keyframes screen {
    0% {
        opacity: 1;
        padding-top: 1.25px;
    }
    100% {
        opacity: 0.82;
        padding-top: 0px;
    }
}

@keyframes light {
    0% {
        opacity:40%;
    }
    100% {
        opacity: 30%;
    }
}