html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    position: absolute;
    width: calc(1932px / 1.5);
    height: calc(1250px / 1.5);
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#candle-light {
    z-index: 2;
    opacity: 40%;
    mix-blend-mode:hard-light; 
    animation-name: light;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    visibility: collapse;
}
#mystery-wall {
    visibility: collapse;
}

#candle-hover {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 130px;
    left: 790px;
    top: 385px;
    cursor: pointer;
}

#pcinput {
    position: absolute;

    left: 384px;
    top: 440px;
    transform: scaleY(1.75) skew(-12deg, 2deg);
    background-color: transparent;

    text-shadow: -1px -1px 2px 
        rgba(255, 255, 255, 0.2),-1px 1px 2px 
        rgba(255, 255, 255, 0.2),1px -1px 2px
        rgba(255, 255, 255, 0.2),1px 1px 2px 
        rgba(255, 255, 255, 0.2);

    outline: 2px solid transparent;

    text-transform: uppercase;

    width: 150px;
    height: 44px;
    font-size: 16px;
    color: white;
    border: none;
    cursor:text;
}
#pcscreen {
    user-select: none;
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: transparent;
    
    position: absolute;

    left: 286px;
    top: 232px;
    width: 270px;
    height: 165px;

    transform: skew(0deg, 5deg);
    
    color: white;

    cursor:cell;

    animation-name: screen;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}
a {
    color: white;
}

#displayText {
    text-shadow: -1px -1px 2px 
        rgba(255, 255, 255, 0.2),-1px 1px 2px 
        rgba(255, 255, 255, 0.2),1px -1px 2px
        rgba(255, 255, 255, 0.2),1px 1px 2px 
        rgba(255, 255, 255, 0.2);
}
#displayImg {
    max-height: 160px;
}

#mediaOverlayContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mediaOverlay {
    max-width: 75vw;
    max-height: 75vh;
    outline-color: white;
    outline-style: solid;
    outline-width: 1vb;
    outline-offset: 3.5vb;
    box-shadow: rgba(255, 255, 255, 0.274) 0 0 0px 3.5vb;
    border-radius: 0.5%;
}

#tooltip {
    position: absolute;
    background-color: rgb(62, 59, 73);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-family: monospace;
    box-shadow: 2px 2px rgb(31, 28, 46);

    visibility: collapse;

    pointer-events: none;
    z-index: 999999;
}

@keyframes screen {
    0% {
        opacity: 1;
        padding-top: 1.25px;
    }
    100% {
        opacity: 0.82;
        padding-top: 0px;
    }
}

@keyframes light {
    0% {
        opacity:40%;
    }
    100% {
        opacity: 30%;
    }
}