html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;

    opacity: 0%;
    animation-name: pageShow;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.75,-0.03,.73,1.08);
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.layer {
    pointer-events: none;
    position: absolute;
    max-width: calc(1000px / 1.25);
    max-height: calc(820px / 1.25);
}
.cmdscreen {
    mix-blend-mode: screen;
    opacity: 1;
}
#screen {
    overflow: hidden;

    filter: blur(0.5px);

    position: relative;
    top: -62px;
    width: 630px;
    height: 380px;
    
    color: rgb(0, 255, 0);
    font-size: 14px;
    font-family: monospace;

    image-rendering: crisp-edges;
    shape-rendering: crispEdges;
}
@media screen and (max-height: 550px), (max-width: 650px) { 
    html {
        transform: scale(0.66);
    }
}

#greenbox {
    outline-color: rgb(0, 255, 0);
    outline-width: 1px;
    outline-style: solid;
}
#activity {
    visibility: collapse;
    padding-left: 8px;
}

#screensmall {
    filter: blur(0.8px);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    margin-top: 400px;
    margin-left: 190px;

    width: 385px;
    height: 80px;
    
    color: rgb(0, 255, 0);
    font-size: 48px;
    font-family: monospace;
    text-align: center;

    image-rendering: crisp-edges;
    shape-rendering: crispEdges;
}
.ssbutton {
    width: 32px;
    margin: 24px;
    cursor: pointer;
}


@keyframes pageShow {
    from {opacity: 0%;}
    to {opacity: 100%;}
}