html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;

    opacity: 0%;
    animation-name: pageShow;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.75,-0.03,.73,1.08);
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.layer {
    position: absolute;
    max-width: calc(1000px / 1.25);
    max-height: calc(820px / 1.25);
}
.cmdscreen {
    mix-blend-mode: overlay;
    opacity: 0.9;
}
#screen {
    overflow: hidden;

    position: relative;
    top: -62px;
    width: 630px;
    height: 380px;
    padding-left: 25px;
    padding-top: 30px;
    
    color: rgb(0, 255, 0);
    font-size: 14px;
    font-family: monospace;
    text-shadow: 0px 0px 8px rgb(0, 255, 0);

    filter: blur(0.59px);
    image-rendering: pixelated;
    shape-rendering: crispEdges;
    
    /* background-color: rgba(255, 0, 0, 0.322); */
}
@media screen and (max-height: 550px), (max-width: 650px) {
    html {
        transform: translateY(10px);
    }
    .layer {
        max-width: calc(1000px / 2);
        max-height: calc(820px / 2);
    }
    #screen {
        filter: blur(calc(0.59px / 1.66));
        
        /* left: 25px; */
        top: -44px;
        width: calc(630px / 1.6);
        height: calc(380px / 1.7);
        padding-left: 20px;
        padding-top: 20px;

        font-size: 9px;
        z-index: 1000;
    }
    div#screen img{
        transform: scale(0.66) translate(-27%, -27%);
    }
}


@keyframes pageShow {
    from {opacity: 0%;}
    to {opacity: 100%;}
}