@font-face {
    font-family: terminal;
    src: url(../fonts/decterm.ttf);
}

html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: terminal;
    font-weight: lighter;
    font-size: 19px;

    width: 100dvw;
    height: 100dvh;
}
@media screen and (max-width: 1111px) {
    main {
        scale: 0.75;
    }
}
@media screen and (max-width: 800px) {
    main {
        scale: 0.5;
    }
}
@media screen and (max-width: 555px) {
    main {
        scale: 0.3;
    }
}


.layer {
    position: absolute;
    pointer-events: none;
}
.layer img {
    position: absolute;
}

.container {
    position: absolute;
    width: calc(1932px / 1.5);
    height: calc(1250px / 1.5);
}

#candle-light {
    position: relative;
    right: 30px;
    bottom: 30px;

    z-index: 2;
    opacity: 60%;
    mix-blend-mode: hard-light; 
    animation-name: light;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    visibility: collapse;
}
#mystery-wall {
    visibility: collapse;
}

#pcinput {
    position: absolute;
    font-family: terminal !important;
    margin-left: -245px;
    margin-top: -20px;
    transform: scaleY(1.75) skew(-12deg, 2deg);
    background-color: transparent;

    text-shadow: -1px -1px 2px 
        rgba(255, 255, 255, 0.1),-1px 1px 2px 
        rgba(255, 255, 255, 0.1),1px -1px 2px
        rgba(255, 255, 255, 0.1),1px 1px 2px 
        rgba(255, 255, 255, 0.33);

    text-transform: uppercase;

    outline: 2px solid transparent;

    width: 140px;
    height: 44px;
    font-size: 19px;
    color: white;
    border: none;
    cursor:text;
}
#pcscreen {
    cursor: pointer;
    pointer-events: all;
    transform: skew(-2deg, 5deg);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    left: 35px;
    top: 45px;
    width: 260px;
    height: 165px;

    
    color: white;
    

    animation-name: screen;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}
a {
    color: white;
}

#displayText {
    text-shadow: -1px -1px 2px 
        rgba(255, 255, 255, 0.1),-1px 1px 2px 
        rgba(255, 255, 255, 0.1),1px -1px 2px
        rgba(255, 255, 255, 0.1),1px 1px 2px 
        rgba(255, 255, 255, 0.1);
}
#displayImg {
    max-height: 160px;
}

#mediaOverlayContainer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mediaOverlay {
    max-width: 75vw;
    max-height: 75vh;
    border-radius: 0.5%;
}

#tooltip {
    position: absolute;
    background-color: #76b297;
    color: #093029;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-family: monospace;
    box-shadow: 2px 2px #225245;    

    visibility: collapse;

    pointer-events: none;
    z-index: 999999;
}

@keyframes screen {
    0% {
        opacity: 1;
        padding-top: 1.25px;
    }
    100% {
        opacity: 0.82;
        padding-top: 0px;
    }
}

@keyframes light {
    0% {
        scale: 1.25;
        opacity: 50%;
    }
    50% {
        scale: 1;
        opacity: 40%;
    }
    100% {
        scale: 1.25;
        opacity: 50%;
    }
}